
.header-text {  font-size: 24px;
                font-family: Helvetica, Arial, sans-serif;
                text-align: center;
                text-decoration: underline;
}

.content-thumbnail { padding: 5px 10px 0 10px; }

.profile-info-label {   text-align: right;
                        padding: 7px 7px 0 0;
}

.info-block {   padding: 10px 0 0 0; }

.system-table {
    width: 100%;
    height: auto
}

.system-elem {
    min-height: 150px;
    padding-top: 10px;
}

.row-number {
    width: auto;
    min-width: 30px;
    border-right: 1px solid #ddd;

    text-align: center;
    font-size: 20px;
    font-weight: bold;
    font-family: Helvetica, Arial, sans-serif;
}

.system-name {
    font-size: 20px;
    font-weight: bold;
    font-family: Helvetica, Arial, sans-serif;
}

.system-data {
    width: auto;
    padding-left: 5px
}

.system-image {
    padding: 0 0 0 5px;
}

.system-img {
    width: 125px;
    height: 125px;
    border: 2px solid #ddd;
    border-radius: 15px;
}

.test-results {
    width: 34%;
    text-align: center;
    padding: 0 0 0 5px;
    border-left: 1px solid #ddd;
}

.test-results table {
    width:100%;
}

.test-results td {
    width: auto;
}

.test-header {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    font-family: Helvetica, Arial, sans-serif;
}

.result-number {
    max-width: 15px;

    text-align: right;
}

.result-text {
    padding: 0 0 0 5px;
    text-align: left;
}


