
#results-table th { text-align: center; }
#results-table td { width: auto; }

.answer-text { font: 20px "Helvetica Neue", Helvetica, Arial, sans-serif; word-wrap: break-word; }

.question-wrapper { padding: 0 5px 0 5px; text-align: center; }
.question-wrapper h1 { max-width: inherit; word-wrap: break-word; }
.question-wrapper .answer { border-bottom: 1px solid #ddd; padding: 5px 0 0 20px; text-align: left; }
