<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Вопросы</title>
</head>
<body>

    <p>Вопрос № {% counter + 1  %}  }</p>
    <h1>{{ question.text }}</h1>
    <form action="{% url 'answer' %}" method="POST">
        <input id="question_id" name="question_id" value="{{ question.id }}" type="hidden"/>
                    {% if question.type == 0 %}
                    {% for answer in answers %}
                        <div class="answer">
                            <span class="answer-span">
                                  <label class="answer-text" for="{{ answer.body }}">
                                      <input id="{{ answer.body }}" type="radio" name="answer" value="{{ answer.id }}">{{ answer.body }}
                                  </label>
                            </span>
                        </div>
                    {% endfor %}
                    {% else %}
                        <h3>Введите ответ: <input style="display: inline-block; width: auto" class="form-control" type="text" name="answer"></h3>
                    {% endif %}
                    <div class="row-fluid">
                    <button type="submit" class="question__submit-button btn btn-new btn-lg col-md-12">Далее</button>

                </div>
                <div class="row-fluid">
                    <a href="{% url "skip_question" question_id=question.id %}" class="question__submit-button btn btn-edit btn-lg col-md-4">Пропустить вопрос</a>
                    <a href="{% url "final" %}" class="question__submit-button btn btn-edit btn-lg col-md-4">Завершить тестирование</a>
                </div>
    </form>
</body>
</html>