{% extends "base.html" %}

{% load staticfiles %}
{% block scripts %}
    <link rel="stylesheet" type="text/css" href="{% static "css/testing.css" %}">
{% endblock %}

{% block content %}
	<div class="col-md-5 col-md-offset-1 thumbnail">
		<div class="question-wrapper">
            <div class="page-header">
                <h1>{{ question.text}}</h1>
            </div>
            <form action="{% url 'answer' %}" method="POST">
                {% csrf_token %}
                <input id="question_id" name="question_id" value="{{ question.id }}" type="hidden"/>

                {% if question.type == 0 %}
                {% for answer in answers %}
                    <div class="answer">
                        <span class="answer-span">
                              <label class="answer-text" for="{{ answer.body }}">
                                  <input id="{{ answer.body }}" type="radio" name="answer" value="{{ answer.id }}">{{ answer.body }}
                              </label>
                        </span>
                    </div>

                {% endfor %}
                {% else %}
                    <h3>Введите ответ: <input style="display: inline-block; width: auto" class="form-control" type="text" name="answer"></h3>
                {% endif %}
                <div class="row-fluid">
                    <button type="submit" class="question__submit-button btn btn-new btn-lg col-md-6">Далее</button>

                </div>
                <div class="row-fluid">

                    <a href="{% url "result" %}" class="question__submit-button btn btn-edit btn-lg col-md-6">Завершить тестирование</a>

                </div>
            </form>

        </div>
    </div>
{% endblock %}